{% extends "layout.html" %}

{% block title %}
    new
{% endblock %}

{% block main %}

<section>

<main>

<div>
    <h2>
        update your mood
    </h2>
</div>

<form action="/new" method="post" id="form">
    <div class="form-group">
        <h3>
            how is work?
        </h3>
        <input type="range" id="work" name="work" min="0" max="10" value="0" oninput="work_out.value=work.value" class="slider" required>
        <output id="work_out" name="work_out" for="work" type"int">0</output>
    </div>
        <h3>
            how is family?
        </h3>
    <div class="form-group">
        <input type="range" id="family" name="family" min="0" max="10" value="0" oninput="family_out.value=family.value" class="slider" required>
        <output id="family_out" for="family" type"int">0</output>
    </div>
    <div class="form-group">
        <h3>
            how are your hobbies?
        </h3>
        <input type="range" id="hobby" name="hobby" min="0" max="10" value="0" oninput="hobby_out.value=hobby.value" class="slider" required>
        <output id="hobby_out" for="hobby" type"int">0</output>
    </div>
    <div class="form-group">
        <h3>
            how is sleep?
        </h3>
        <input type="range" id="sleep" name="sleep" min="0" max="10" value="0" oninput="sleep_out.value=sleep.value" class="slider" required>
        <output id="sleep_out" for="sleep" type"int">0</output>
    </div>
    <div class="form-group">
        <h3>
            what's on your mind?
        </h3>
        <textarea class="form-control" id="thoughts" name="thoughts" placeholder="share your thoughts..." type="text" style="width: 40%; height: 150px;"></textarea>
    </div>
</div>
<div>
    <button class="btn btn-primary" type="submit" onsubmit="return validate(this);">post</button>
</div>
</form>
</main>
{% endblock %}
</body>
</html>
